[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Giacomo Bresciani
	email = brescia123@gmail.com
[core]
	editor = nano
[alias]
	s = status
	ct = commit
	ctm = commit -m
	co = checkout
	com = checkout master
	pom = push origin master
