[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Giacomo Bresciani
	email = brescia123@gmail.com
[core]
	editor = nano
[alias]
	s = status
	al = add -A
	ct = commit
	ctm = commit -m
	co = checkout
	com = checkout master
	pom = push origin master
	pod = push origin dev
	dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    cof = "!f() { git checkout $(git branch | fzf); }; f"
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
	